---
import "../styles/global.css";
import Header from '../components/Organisms/Header.astro';
import Footer from '../components/Organisms/Footer.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Clean Cod3 comunity</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style>
	html {
		scroll-behavior: smooth;
	}

	body {
		margin: 0;
		width: 100%;
		height: 100%;		
		background-color: #080808;
		background-image: linear-gradient(to bottom, rgba(166, 0, 255, 0.5) 0%, rgba(0, 38, 255, 0.55) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
		background-blend-mode: soft-light,screen;	 
	}
</style>